
.favoriteItem-wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.favoriteItem__title {
    font-size: 25px;
    color: #889eb6;
}

.favoriteItem-container {
    display: flex;
}
.favoriteItem-container:empty:after {
    content: 'the list of favorite movies is empty';
}

.favoriteItem__title {
    margin: 0;
    font-size: 30px;
    color: #37404a;
}

.favoriteItem-dsc {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.favoriteItem-buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}